openai>=1.12.0
python-dotenv>=0.19.0
sounddevice>=0.4.6
numpy>=1.21.0
wave
keyboard>=0.13.5
pyperclip>=1.8.2
PyQt6>=6.4.0
PyQt6-WebEngine>=6.4.0
markdown
python-markdown-math
pynput>=1.7.6
Pillow>=10.0.0
requests>=2.31.0 